<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">Welcome {{user.firstName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-searchbar [(ngModel)]="searchClub" (ionInput)="searchClubs()"></ion-searchbar>
  <ion-list>
  <ion-item>
    <ion-label>Sort</ion-label>
    <ion-select>
      <ion-option value="points">Points</ion-option>
      <ion-option value="sales">Sales</ion-option>
      <ion-option value="purchases">Purchases</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

  <!--<ion-grid>
    <ion-row *ngFor="let gridArr of grid">
      <ion-col col-6 *ngFor="let club of gridArr">
        <club-details [club]="club"> </club-details>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-grid>
    <ion-row *ngFor="let club of clubsDisplay">
      <ion-col>
        <club-details [club]="club"></club-details>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
  <ion-fab>
    <button (click)="onClickPresentClubs()" ion-fab>Add Club</button>
  </ion-fab>
  </ion-footer>
</ion-content>


